{% load static %}
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reportes.css' %}"></link>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
  </head>

  <body>
    <h1>Reportes</h1>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>

    <script src="{% static 'js/reportes.js' %}"></script>
  </body>
</html>
